test_users.pkl
train_users.pkl
user_dict.pkl
results/ising_model_size_experiment_20250608-113446.csv
results/ising_model_size_experiment_latest1.csv
results/ising_model_size_experiment_latest _FULL.csv
results/ising_model_size_experiment_latest.csv